<html>
<head>
  <title>Hello, world!</title>
</head>
<body>
  <h1>Hello from Rails</h1>
  <p>
    If you see this page, your application is running okay. Now, try to access your application at <%= link_to nil, root_url(:canvas=>true)%>.
  </p>
</body>
</html>